ANTHROPIC_API_KEY=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
POLYGON_API_KEY=xYQYdS9EEpps0CaWgsEECLdIiLWgaHn1
NEWSAPI_KEY=2b688e33fbf0424d9d3da8d9e2c89da5
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=oabyad1065@gmail.com
SMTP_PASSWORD=ckmf wnil mwqm uwkr
BRIEF_RECIPIENT_EMAIL=oabyadkb@gmail.com
DB_PATH=./data/smart_money.db
CACHE_DIR=./cache
LOG_LEVEL=INFO
